
/* ===============start-global================== */
@media only screen and (max-width: 600px) {
        
      
        .carousel-text h1 {
            top: 25% !important;


          font-size: 10px;
        }
  
        .carousel-text p {
          font-size: 7px;
          top: 40% !important;
          width: 80% !important;
          left: 40% !important;
        }
  
        #home .carousel-text button{
            top: -70px !important;
            left: 30% !important;
            font-size: 7px;
           min-width: 20%;
        }
#home-card .header-about {
    margin-top: 60%;
}

 #we  {
    margin-bottom: 30px;

 }

    .brdr{
       display: none;

    }
     #our-hospital .content  {
        margin-bottom:  20px;

    }


    #info-port .content .text h4 {
        font-size: 12px;
    }



#blog-info .info {
    margin-right: 70px; 
}


#erorr .text h2{
    font-size: 100px !important;




}

#erorr .text .search {
    margin-bottom: 20px !important;
}

#information .form-style {
    margin-bottom: 20px !important;

}

#information .form-style button {
    margin-right: 100px !important;


  }
  




  }

 



:root {
    --main-text-color-- :#0b1525;
    --main-background-color-- :#267cc7;
    --secound-text-color-- : #43545f ;
    --secound-background-color-- :#FBFBFB ;
    --color--:#FBFBFB;
    --border-color-- :rgba(0, 0, 0, 0.153);

    

}


body {
    font-family: "Poppins", serif;
    text-transform: capitalize;
    background-color: #F7F7F7;

}


ul li {
    list-style: none;
}
a {
      text-decoration: none;  
    
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
    z-index: 100000;
  }
  .loader:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }
  
  @keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes pulse {
    0% , 60% , 100%{ transform:  scale(1) }
    80% { transform:  scale(1.2)}
  }


 
  
  .loading {
    position: fixed;
    
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading .prev-icon {
    position: fixed;
    background-color: var(--main-background-color--);
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
        z-index: 10000;

  }
  .loading .next-icon {
    position: fixed;
    background-color: var(--main-background-color--);
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
        z-index: 10000;

  }

  .get-pro {
     display: flex; 
     align-items: self-start;
    position: fixed;
    top: 15%;
    right: 0;
    z-index: 8888;
    white-space: nowrap;


  }
  .get-pro .text-one {
    background-color: var(--main-background-color--);
    color: var(--color--);
    cursor: pointer;
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;

  }

  .get-pro .text-two {
    background-color: var(--color--);
    display: none; 
    

   

  }
  .get-pro .text-two h3  {
    padding: 5px 10px;
    color: var(--main-background-color--);
    font-size: 15px;
    font-weight: 600;
   
    


  }

  .get-pro .text-two p {
    padding: 5px 10px;
    font-size: 13px;
  }

  .get-pro .text-two button {
     padding: 7px;  
    background-color: var(--main-background-color--);
    border: none;
    border-radius: 3px;
    color: var(--color--);
    width: 80%;
    margin-left: 10%;
    text-transform: capitalize;
    display: block;

  }




/* ================end-global==================== */

/* ===============start-top-nav================== */

.top-nav {
    background-color: var(--color--);
    border: 1px solid var(--border-color--);
    padding: 1.25rem;
}

.top-nav a {
    color: var(--secound-text-color--);
    padding-left: 1.25rem;

}
.top-nav .icons i{
    color: var(--main-background-color--);
}




 


/* ================end-top-nav==================== */

/* ===============start-nav================== */

.navbar {
    border-bottom: 1px solid var(--border-color--);
    padding: 1.25rem;
    z-index: 9;
    width: 100%;
}



.navbar .nav-item {
        padding-left: 30px;
        position: relative;

}

.navbar .nav-item::after {
    content: '';
    background-color: var(--main-background-color--);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left:30%;
     transform: translateX(-50%); 
    border-radius: 4px;
    transition: width 2s , left 2s;
}

.navbar .nav-item:hover::after{
     width: 80%;
    left: 60%;

}



.navbar .nav-item  a{
    color: var(--main-text-color--) ;  
    font-weight: 500;
}


.navbar button {
    padding: 10px;
    background-color: var(--main-background-color--);
    text-transform: capitalize;
    border: none;
    color: var(--color--);
    border-radius: 7px;
    margin-left:40px;
}




/* ================end-end-nav==================== */

/* ===============start-home================== */






  
#home .home-imgs {
    position: relative;
}
 
  





/* #home .carousel-text {
    width: 10%;
} */


  #home .carousel-text h1 {
    font-weight: 700;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -100%);
    text-align: center;
    color: white;
    width: 40%;
   

   
    opacity: 0; 
    animation: fadeInUph1 1.5s ease-in-out 0.5s forwards;

   
  }

  
@keyframes fadeInUph1 {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -100%);
    }
  }



#home .carousel-text h1 span {
    color: var(--main-background-color--);

}

#home .carousel-text p {
   color: var(--main-text-color--);
   position: absolute;
   top: 30%;
   left: 30%;
   transform: translate(-50%, -100%);
   text-align: center;
   color: var(--main-text-color--);
   opacity: 0; 
   animation: fadeInUpp 1.5s ease-in-out 2s forwards ;
   width: 40%;


} 


@keyframes fadeInUpp {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -100%);

    }
  }





 #home .carousel-text button {
    color: var(--color--);
   padding: 10px;
    border: 1px solid var(--main-background-color--);
    border-radius: 4px;
    position: absolute;
    top: -450px;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
     opacity: 0; 
    animation: fadeInUpbutton 1.5s 3s forwards;
    min-width: 15% ; 

   

  

} 

@keyframes fadeInUpbutton {
    0% {
      opacity: 0;
      transform: translate(-50%, -100%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }




#home .carousel-text .get {
    background-color: var(--main-background-color--);
    position: relative;
     overflow: hidden; 
    z-index: 1;

    
}
 

#home .carousel-text .get::after {
    content: '';
    background-color: var(--secound-text-color--);
    width: 0;
    height: 130px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: width 1s , left 1s;
    z-index: -1;
   



}


#home .carousel-text .get:hover::after {
    width: 100%;
  

   

}

#home .carousel-text .about {
    background-color: var(--secound-text-color--);
    position: relative;
    overflow: hidden;
    z-index: 1;
}


#home .carousel-text .about::after {
    content: '';
    background-color: var(--main-background-color--);
    width: 0;
    height: 130px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: width 1s;
    z-index: -1;



}
#home .carousel-text .about:hover::after {
    width: 100%;


}



#home .carousel-control-prev  {
    position: absolute;
    top: 50%;
    left: 3%;
    border: 1px solid var(--border-color--);
    border-radius: 50%;
    width: 3.125rem;
    height: 50px;
    background-color: var(--main-background-color--);
   
}
#home .carousel-control-next  {
    position: absolute;
    top: 50%;
    right: 3%;
    border: 1px solid var(--border-color--);
    border-radius: 50%;
    width: 3.125rem;
    height: 50px;
    background-color: var(--main-background-color--);
   
}


#home-card .header-about .card {
    background-color: var(--main-background-color--);
    color: var(--color--);
    padding: 3.125rem;
    position: relative;
      top: -50%;   
    font-size: 0.9375rem;
    border: none;
    border-radius: 7px;
    height: fit-content;
    transition: transform 1s;

}

#home-card .header-about .card:hover {

transform: translateY(-20px)

}

#home-card .header-about .card h3 {
  padding-top: 20px;
}

#home-card .header-about .card .p-text {
    padding-bottom: 30px;

}

#home-card .header-about .card a {
    color: var(--color--);
}




/* ================end-home==================== */

/* ===============start-about================== */
#about {
    min-height: 100vh;
}
#about .content {
    margin-top: 50px;
}

#about .content .icon{
    width: 30px;
     position: relative;
    left: 36%; 
    padding-bottom: 20px;
}



#about .icon i {
    width: 100px;
    height: 100px;
    font-size: 30px;
    color:var(--main-background-color--);
    border: 1px solid var(--border-color--);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s , color 1s ;
}

#about .icon i:hover {
    background-color: var(--main-background-color--);
    color: var(--color--);
}

.brdr {
    border-bottom: 3px dotted var(--main-background-color--);
    width: 120px;
    height: 110px;
    position: relative;
     left: 10%; 
    
}

/* ================end-about==================== */

/* ===============start-info================== */


#info {
    background:linear-gradient(#267cc7c2 , #267cc7c2) ,url(../img/blockqoute-bg.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
     min-height: 30vh; 


}
#info .main-content {
    display: flex;
    padding-top: 50px;
}


#info .main-content .icon i {
    font-size: 30px;
    border: 1px solid var(--color--);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color--);
    transition:  background-color 1s;
}

#info .main-content .icon i:hover {
    background-color: rgba(255, 255, 255, 0.215);
}




#info .main-content .text {
    color: var(--color--);
    padding-left: 30px;


}

#info .main-content .text h3 {
    font-size: 30px;


}



 

/* ================end-info==================== */

/* ===============start-we================== */


#we .content {
    padding-top: 80px;
}
#we .text h3 {
    position: relative;
    padding-bottom: 30px;
}
#we .text h3::after {
    content: '';
    background-color: var(--main-background-color--);
    width: 50px;
    height: 5px;
    position: absolute;
    top: 70%;
    left: 0;
    border-radius: 2px;

}


#we ul li {
    display: flex;
     justify-content: space-between; 
    padding-top: 15px;
}



#we ul li i {
    color: var(--color--);
    border: 1px solid var(--border-color--);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color--);
}





#we .img img {
    width: 100%;
    height: 350px;
    
}


#we .img i {
    position: absolute;
    right: 45% ;
     top: 40%; 
    color: var(--color--);
    font-size: 40px;
    border: 1px solid var(--color--);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color--);
    animation: shadow 3s infinite;
}

@keyframes shadow { 

    0% {
        box-shadow: 0 0 2px 10px var(--color--);
    }

    25% {
        box-shadow: 0 0 2px 20px #fbfbfbbb  ;
    }



  50%{
    box-shadow: 0 0 2px 30px #fbfbfb79    ;
    }
  75%{
    box-shadow: 0 0 2px 40px #fbfbfbb3    ;
    }



  100%{
    box-shadow: 0 0 2px 50px #fbfbfb36 ;
    }

    
}



/* ================end-we==================== */

/* ===============start-call================== */


#call {
    padding-top: 80px;
    background: linear-gradient(#267cc7c2 , #267cc7c2) ,url(../img/call-bg.jpg) center;
    background-attachment: fixed;
    background-size: cover;
}


#call .call-info {
    width: 40%;
    color: var(--color--);
}

#call .call-info button {
    padding: 15px;
    border: 1px solid var(--color--);
    border-radius: 4px;
    margin-bottom: 20px;
}

#call .call-info .contact {
    background-color: var(--color--);
    color: var(--main-background-color--);
    margin-right: 20px;
    position: relative;
     overflow: hidden; 
     z-index: 1;

     

}

#call .call-info .contact:hover{
    color: var(--color--);
    transition: color 1s;

}
#call .call-info .contact::after {
    content: '';
    background-color: var(--main-background-color--);
    width: 0;
    height: 120px;
    position: absolute;
    top: 0;
    left: 50%;
     transform: translate(-50% , -50%); 
    transition:  width 1s ;
    z-index: -1;

}

#call .call-info .contact:hover::after {
    width: 100%;



}

#call .call-info .learn {
    background-color: var(--main-background-color--);
    color: var(--color--);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 1s;

}

#call .call-info .learn:hover {
    color: var(--main-background-color--);
}

#call .call-info .learn::after {
    content: '';
    background-color: var(--color--);
    width: 0;
    height: 7.5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: width 1s;
    z-index: -1;

}

#call .call-info .learn:hover::after {
    width: 100%;
}

/* ================end-call==================== */

/* ===============start our-hospital-================== */
#our-hospital {
    min-height: 100vh;
}

#our-hospital .main-text {
    margin-top: 5rem;
}

#our-hospital .content {
    position: relative;
}

#our-hospital .content .btn{
    position: absolute;
      top: 0; 
    background-color: #267cc78b;
    width: 100%;
     height: 100%; 
     opacity: 0;
     transition:  opacity 1s;



}
#our-hospital .content .btn:hover{
    opacity: 1;

}

#our-hospital .content button {
    background-color:  var(--color--);
    border: none;
    border-radius: 5px;
    position: relative;
    top: 40%;
    padding: 15px;
    color: var(--main-background-color--);
    font-weight: 500;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 1s;

   
}

#our-hospital .content button:hover {
    color: var(--color--);
}

#our-hospital .content button::after {
    content: '';
    background-color: var(--secound-text-color--) ;
    width: 0;
    height: 120px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% ,-50%);
    transition:  width 1s;
    z-index: -1;

}

#our-hospital .content button:hover::after {
    width: 100%;
}


/* ================end-our-hospital==================== */

/* ===============start services================== */

#services {
    min-height: 100vh;
}

#services .services-about {
    width: 40%;
    margin: auto;
}

#services  .content h4 {
    cursor: pointer;
}

#services  .content i {
    font-size: 50px;
    color: var(--main-background-color--);
}

#services  .content h4 {
    transition: color 1s;
}

#services  .content h4:hover {
    color: var(--main-background-color--);
}

/* ================end services==================== */
/* ================start price==================== */
#price {
     min-height: 100vh; 
}

#price .content {
    margin-top: 50px;
}

#price .main-text-1 {
    width: 40%;
    text-align: center;
    margin: auto;
}

#price .content .icon i {
    font-size: 60px;
    margin-block: 30px;
    color: var(--main-background-color--);

}

#price .content .main-text p span {
    color: var(--main-background-color--);
    font-size: 50px;
    font-weight: 600;
}
#price .content .main-text p {
    color: var(--secound-text-color--);
}
#price .content .text {
    display: flex;
    justify-content: space-around;

}

#price .content .text .icons i  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: var(--color--);
    font-size: 10px;
    background-color: var(--main-background-color--);


}

#price .content button {
    background-color: var(--main-background-color--);
    border: none;
    color: var(--color--);
    padding: 15px;
    width: 80%;
    border-radius: 4px;
    margin: 40px ;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#price .content button::after {
    content: '';
    background-color: var(--secound-text-color--);
    width: 0;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: width 2s;
    z-index: -1;

}

#price .content button:hover::after {
    width: 100%;
}

/* ================end price==================== */
/* ================start blog==================== */

#blog {
    min-height: 100vh;
}
#blog .main-text {
    padding-top: 80px;
    width: 40%;
    margin: auto;
}

#blog .content .content-about {
     margin: 20px 30px; 

}

#blog .content {
    position: relative;
    margin-top: 40px;
}

#blog .content::after {
    content: '';
    background-color: var(--main-background-color--);
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    transition: width 5s;
}

#blog .content:hover::after{
    width: 100%;
}

#blog .content button{ 
    background-color: var(--main-background-color--);
    border: none;
    color: var(--color--);
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    text-transform: capitalize;
    margin-bottom: 10px;


}

/* ================end blog==================== */
/* ================start clients==================== */

#clients {
    margin-top: 50px;
    background : linear-gradient(#267cc7c2 , #267cc7c2), url(../img/client-bg.jpg) center;
    background-size: cover;
    min-height: 30vh;

} 

#clients .owl-carousel img{
    margin: 50px;
}

/* ================end clients==================== */
/* ================start appointment ==================== */

#appointment .main-text {
    padding-top: 80px;
    text-align: center;
    width: 40%;
    margin: auto;
}
#appointment form input {
    margin: 20px;
    border: 1px solid #D0DDD0;
    padding: 5px;


}

#appointment form button {
    background-color: var(--main-background-color--);
    border: none;
    color: var(--color--);
    border-radius: 4px;
    width: 50%;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    z-index: 1;

}

#appointment form button::after{
    content: '';
    background-color: var(--secound-text-color--);
    width: 0;
    height: 130px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: width 1s;
    z-index: -1;
}
#appointment form button:hover::after{
    width: 100%;

}

/* ================end appointment==================== */
/* ================start sign up==================== */

#sign-up {
    background-color: #a3d1c644;
    padding-bottom: 50px;

}
#sign-up .about {
    padding-top: 80px;
}
#sign-up .about .text h4 {
    font-weight: 600;
}

#sign-up .about form input {
    border: none;
    margin-right: 20px;
    border-radius: 5px;
    padding: 20px ;
}

#sign-up .about form button {
    background-color: var(--main-background-color--);
    border-radius: 5px;
    border: none;
    color: var(--color--);
    padding: 20px ;

}

/* ================end sign up==================== */
/* ================start contact==================== */
#information {
    background-color: var(--main-background-color--);
}
#information .about {
    padding-top: 80px;

}

#information .about .icons  {
display: flex;
justify-content: space-between;

}


#information .about .icons a i  {

color: var(--color--);
border: 1px solid var(--color--);
border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;



}

#information .about .text h5{
position: relative;
}

#information .about .text h5::after{

content: '';
background-color: var(--color--);
width: 50px;
height: 4px;
position: absolute;
top: 70%;
left: 0;
border-radius: 5px;



}

#information .about .list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#information .about .list li a {
color: var(--color--);



}

#information .about .list li i {
    margin-top: 20px;
    font-size: 10px;
     margin-right: 10px; 

}

#information .about .secound-text {
    display: flex;
    justify-content: space-between;
}

#information .about .form-style {
    display: flex;
    justify-content: space-evenly;
}


#information .about .form-style input {
    background-color: transparent;
    border: 1px solid var(--color--);
    border-radius: 5px;
    padding: 10px;

    color: var(--color--);




}

#information .about .form-style  button  {
   border: none;
    height: 45px;
    width: 45px ;
    background-color: var(--color--);
    color: var(--main-background-color--);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 50px;
}

/* ================end contact==================== */

/* ================start-footer==================== */
#footer {
    background-color: #267cc78d;
}

#footer .text {
    text-align: center;
    padding-block: 20px;
    color: var(--color--);
}

/* ================end -footer==================== */
/* ================start portifolio==================== */

#portifolio {
    background :linear-gradient(#267cc7c2 , #267cc7c2) ,url(../img/blockqoute-bg.jpg) center ;
    background-size: cover;
    min-height: 50vh;
    position: relative;


}
#portifolio .port-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: var(--color--);
}

#portifolio .port-info p span {
    padding-inline: 10px;
    cursor: pointer;
    transition: color 1s;

}


#portifolio .port-info  span:hover {
    color: var(--main-text-color--);
}

#info-port .content {
    margin: 80px auto 0;
    width: 85%;

}

/* ================end  portifoilo==================== */
/* ================start info-port==================== */






#info-port .content .carousel-control-prev  {
     background-color: var(--color--); 
    border: 1px solid var(--color--);
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5%;
    top: 50%;
    border-radius: 50%;

}

#info-port .content .carousel-control-prev  i {
    color: var(--main-background-color--);
    font-size: 30px;

}

#info-port .content .carousel-control-next  {
    background-color: var(--color--); 
    border: 1px solid var(--color--);
    width: 60px;
    height: 60px;
    position: absolute;
    right: 5%;
    top: 50%;
    border-radius: 50%;

}

#info-port .content .carousel-control-next i {
    color: var(--main-background-color--);
    font-size: 30px;


}    




#info-port .content .text{
    background-color: var(--main-background-color--);
    color: var(--color--);
    
}
/* ================end info-port==================== */




/* ================start blog - port==================== */

#blog-port {
    min-height: 70vh;
}

#blog-port .text {
    width: 85%;
    margin: 50px auto 0;


}
#blog-port .text p {
    color: var(--secound-text-color--);
}


#blog-port .text .icons h5 {
    padding-right: 20px;
}

#blog-port .text .icons i {
    margin-right: 20px;
    border: 1px solid var(--secound-text-color--);
    color: var(--secound-text-color--);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    

}



/* ================end blog - port==================== */



#contact {
    background :linear-gradient(#267cc7c2 , #267cc7c2) ,url(../img/blockqoute-bg.jpg) center ;
    background-size: cover;
    min-height: 50vh;
    position: relative;


}
#contact .contact-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    color: var(--color--);
}




#contact .contact-info  span {
    padding-inline: 20px;
    cursor: pointer;
    transition: color 1s;
}
#contact .contact-info  span:hover {
    color: var(--main-text-color--);
}

#contact-about .card .text {
    margin-top: 80px;
}
#contact-about .card .text h2 {
    font-weight: 600;

}
#contact-about .card form input {
    margin: 15px 30px;
    padding: 15px;
    border: 1px solid #D0DDD0;
    border-radius: 7px;

}
#contact-about .card iframe{ 
    width: 100%;
    height: 100%;

}

#contact-about .card form textarea {
   width: 90%;
    border: 1px solid #D0DDD0;
    border-radius: 7px;
    margin: 15px 30px;

   
}
#contact-about .card form button {
    width: 90%;
    border: none;
    background-color: var(--main-background-color--);
    color: var(--color--);
    border-radius: 3px;
    position: relative;
    left: 5%;
    top: 20px;
   
    padding: 10px;
}

#contact-about .card form .radio {
    margin-top: 50px;
}





/* ================end  contact-about==================== */
/* ================start contact-info==================== */
#contact-info .contain {
    margin-top: 80px;
    background-color: var(--main-background-color--);
    color: var(--color--);
    display: flex;
    justify-content: space-evenly;
    height: 60%;
    padding: 50px;
    border-radius: 5px;
    transition: transform 1s ;


}
#contact-info .contain:hover {
    transform: translateY(-20px);
}




#contact-info .contain a {
    color: var(--color--);
}



/* ================end  contact-info==================== */
  

/* ================start-blog-single==================== */

#blog-single {
    background :linear-gradient(#267cc7c2 , #267cc7c2) ,url(../img/blockqoute-bg.jpg) center ;
    background-size: cover;
    min-height: 50vh;
    position: relative;


}
#blog-single .blog-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    color: var(--color--);
}


#blog-single .blog-info  span:hover {
    color: var(--main-text-color--);
}


#blog-single .blog-info  span {
    padding-inline: 20px;
    cursor: pointer;
    transition: color 1s;
}
/* ================end  blog-single==================== */
/* ================start  blog-info==================== */
/* ================global class for blog-info==================== */



.padding {
    padding-right: 30px; 
}



.details {
    width: 70%;
    margin: auto;
    
}



.now {
    margin: auto;
    width: 70%;
    height: fit-content;
}
.new {
    margin: auto;
    width: 70%;
    height: fit-content;
}


.change {
    margin: auto;
    width: 70%;
    height: fit-content;



} 


/* ================ end-global -class for blog-info==================== */


#blog-info {
    min-height: 100vh;
}


#blog-info .content-blog{
    margin-top: 80px;
    background-color: var(--secound-background-color--);
    border-radius: 6px;
} 


#blog-info .content-blog img {
      padding: 30px;  
  
}
#blog-info .content-blog h3 {
    position: relative;
    padding-left: 30px;

}
#blog-info .content-blog h3::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.123);
    width: 80%;
    height: 1px;
    position: absolute;
    bottom: -20%;
    left: 10% ;
    
}

.content-blog  .info  {
    font-size: 13px;
  
}


.content-blog  .info img {
    border-radius: 50%;
   
}


.content-blog  .info  p {
   padding-top: 60px;
   padding-inline: 20px;
  
}

.content-blog  .info .text {
    padding-top: 60px;
}

.content-blog  .info .text i {
     padding-right: 5px; 
    color: var(--main-background-color--);
}


.content-blog  .info .icon {
    padding-top: 60px;
    padding-left: 11px;

}

.content-blog  .info .icon i{
    color: var(--main-background-color--);

}



.content-blog  .text-core p {
    padding-left: 20px;
    padding-top: 20px;
    color: var(--secound-text-color--);
   

}

.content-blog .mega-text p{
    padding-left: 20px;
    padding-top: 20px;
    background-color: var(--main-background-color--);
    color: var(--color--);
    margin-left: 25px;
    border-radius: 2px;
}

.content-blog .big-icons {
    width: 10%;
    font-size: 20px;
}

.content-blog .big-icons .small-icon{
    display: flex;
     margin-bottom: 20px;
     padding: 4px;
      
}

.content-blog .big-icons .small-icon i {
    padding-right: 7px;
}
.content-blog .big-icons .dark-blue {
    background-color: #4D55CC;
         color: var(--color--); 


}

.content-blog .big-icons .light-blue{
    background-color:#267cc7c4 ;
  
    color: var(--color--); 


}
.content-blog .big-icons .light-red{
    background-color: rgba(255, 0, 0, 0.618) ;
    color: var(--color--); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;



}

.content-blog .big-icons .blue {
    background-color: #2973B2;
    color: var(--color--); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;





}

.content-blog .big-icons .red{
    background-color: #C62E2E;
    color: var(--color--); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;




}


.content-blog .mini-icon {
    position: relative;
    top: 5%;
    left: 10%;
    cursor: pointer;
   
} 

.content-blog .mini-icon .prev , .next {
    border: 1px solid var(--border-color--);
    border-radius: 4px;
    height: 50%;
    padding: 5px; 
    
}

.content-blog .mini-icon .prev{
     margin-right: 20px; 
}

 .all-comments {
    margin-top: 80px;
    background-color: var(--secound-background-color--);
    border-radius: 6px;
    width: 110%;
 }

 .all-comments .img  img{
    border-radius: 50%;
  
 }

 .all-comments .commment-text p {
    color: var(--secound-text-color--);
 }


 .all-comments  button {
    background-color: var(--main-background-color--);
    color: var(--color--);
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    transition: background-color 1s;
 }

 .all-comments  button:hover {
    background-color: var(--secound-text-color--);
 }



 .all-comments .img-two {
    margin-left: 10px;
    margin-left: 50px;
 }

 .all-comments .img {
    margin-top: 5px;
 }

 .brdor {

    background-color: var(--border-color--);
    width: 100%;
    height: 1px;
    position: relative;
    left: -15%;
    
 }

 .leave-comments {
    margin-top: 80px;
    background-color: var(--secound-background-color--);
    border-radius: 6px;
    width: 110%;
    padding-top: 50px;
 }

 .leave-comments .input-container {
    
    padding: 8px;
    margin-bottom: 15px;




 }


.input-container {
    position: relative;

}

 .leave-comments .form-style {
      width: 100%;  
    height: 50px;
    padding: 13px;
    border-radius: 3px;
    border: 1px solid var(--border-color--);
    letter-spacing: 0.5px;
    padding-left: 55px;


    


 }
 .input-icon {
    position :absolute;
    top: 40%;
    left: 18px;
    width: 30px;
    color: var(--main-background-color--);
 }



 .leave-comments  button {
    margin: 20px 20px 30px 50px;
    padding: 10px;
    background-color: var(--main-background-color--);
    border: none;
    border-radius: 7px;
    color: var(--color--);
 }
 .leave-comments  textarea {
    width: 100%;
    height: 150px;
    margin-left: 3px;
    padding: 12px 20px;
    resize: none;
    box-sizing: border-box;


 }



 






/* ================end-blog-one ==================== */







/* ================start-blog-two ==================== */





#blog-info .content-blog .input-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#blog-info .content-blog input {
    padding: 10px;
    margin: 30px;
    border: 1px solid #D0DDD0;
    border-radius: 4px;
    width: 100%;
    
}
#blog-info .content-blog button{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    background-color: var(--main-text-color--);
    height: 50%;
    color: var(--color--);
    padding: 10px;
    width: 15%;
    margin-right: 50px;
  


    

}

/* ================end-blog-two ==================== */










/* ================start-blog-three ==================== */


#blog-info .content-blog h5 {
    padding: 30px 40px ;
    font-weight: 600;
    position: relative;

}

#blog-info .content-blog h5::after {
    content: '';
    position: absolute;
    background-color: var(--main-background-color--);
    width: 3px;
    height: 25px;
    top:35%;
    left:7% ;
}


#blog-info .content-blog ul li {
    padding-top: 10px;
}





.content-blog .style {
    font-weight: 600;
    padding-top: 20px;
}
.content-blog .text .icons i {
    padding-right: 10px;
}

.content-blog .text {
    padding-top: 35px;
}

.br{
    background-color: var(--border-color--);
    width: 80%;
    height: 1px;
    position: relative;
    left: 10%;
}
.content-blog .texts h6 {
    background-color:#43545f21  ;
    width: fit-content;
    padding:4px;
    border-radius: 5px;
}


.content-blog .texts  {
    display: flex;
   justify-content: center;
}
.content-blog .texts h6 {
    margin-left: 30px;

}




/* ================end  blog-info==================== */


/* ================start erorr==================== */

#erorr {
    min-height: 100vh;
}

#erorr .text{
    
   padding-top: 80px;
    text-align: center;
    width: 50%;
    margin: auto;
}

#erorr .text h2 {
    font-size: 200px;
    color: var(--main-background-color--);
}

#erorr .text h5 {
   font-size:25px ;
    font-weight: 700;
}

#erorr .text p {
    color: var(--secound-text-color--);
}
#erorr .text input{
border-radius: 5px;
    border: none;
    width: 90%;
    background-color: #D0DDD0;
    padding: 10px;




}

#erorr .text i {
    background-color: var(--main-background-color--);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color--);
    border-radius: 5px;
    padding: 20px;
}
 


/* ================end erorr==================== */
